body,
html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #101820;
}

.container-fluid {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(104, 30, 226, 1) 0%,
    rgba(0, 212, 255, 1) 58%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
}
